<section class="bg-teal-500 p-6 flex">
    <input type="text" class="w-1/2 bg-teal-800">
    <button class="bg-teal-600 border "><img src="assets/images/icons8-search.svg" alt=""></button>
</section>

<section class="flex gap-4 float-right mt-8" >
  <p class="font-bold text-gray mt-4">Upload documents</p>
  <button class="bg-yellow-400 p-4 rounded-full mr-8" (click)="popUp()"><img src="assets/images/icons8-plus.svg" alt=""></button>
</section>

<section class="mt-24 bg-gray-400 p-4 " [hidden]="isUploadhidden">
  <div class="text-center bg-white border-white outline-dotted  p-16">
    <label class="cursor-pointer text-blue-500 font-bold">
      <input
        type="file"
        class="hidden"
        (change)="onFileSelected($event)" (click)="openFileInput()"
      />
      DRAG AND DROP YOUR FILES HERE, OR CLICK TO BROWSE
    </label>
  </div>

</section>

<div > 
  
  <div *ngIf="uploadedDocuments.length > 0">
    <h3>Uploaded Documents:</h3>
    <ul>
      <li *ngFor="let document of uploadedDocuments">{{ document.filename }}</li>
    </ul>
  </div>
  
  
</div>